PORT=3000
DB_PROVIDER=sqlserver
SQLSERVER_SERVER=DESKTOP-U3N9KBF\SQLEXPRESS
SQLSERVER_DATABASE=sistema_escolar
SQLSERVER_USER=sa
SQLSERVER_PASSWORD=change_this_password
SQLSERVER_ENCRYPT=true
SQLSERVER_TRUST_SERVER_CERTIFICATE=true
JWT_SECRET=change_this_secret
JWT_EXPIRES_IN=8h
